@{
    ViewData["Title"] = "Home Page";
}
 <h1><center> TraceRoute </center> </h1>

 <p> This application serves as a visualization for displaying the route and delay times across an IP network </p>
 <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  <body>
    <div id="map"></div>
    <script src = "./js/Map.js" type="text/javascript"> </script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnQJ3WLOWkGswgEVZzKXSVzr1y5n4b9f0&callback=initMap">
    </script>
  </body>