@{
ViewData["Title"] = "Visual Trace Route";
}
<style>
    #map {
        height: 100%;
    }
</style>
<body ng-app="app" ng-controller="traceRouteController">
    <div class="tr-container">
        <div class="tr-input row">
            <div class="col-sm-10">
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="google.com">
                  </div>
                </form>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-secondary btn-block tr-trace" type="">Trace</button>        
            </div>
        </div>
        <div class="tr-map" id="map"></div>
	</div>

    <script src = "./js/Map.js" type="text/javascript"> </script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnQJ3WLOWkGswgEVZzKXSVzr1y5n4b9f0&callback=initMap">
    </script>
</body>